
Minesweeper/.vs/Minesweeper/v16/.suo
Minesweeper/.vs/Minesweeper/v16/Browse.VC.db
Minesweeper/.vs/Minesweeper/v16/Browse.VC.db-shm
Minesweeper/.vs/Minesweeper/v16/Browse.VC.db-wal
Minesweeper/.vs/Minesweeper/v16/Browse.VC.opendb
Minesweeper/.vs/Minesweeper/v16/ipch/AutoPCH/93c331fd16d0f70f/MAIN.ipch
Minesweeper/.vs/Minesweeper/v16/ipch/AutoPCH/d887a252f2939078/GAME.ipch
Minesweeper/.vs/Minesweeper/v16/ipch/AutoPCH/f9082eb244fbffe0/123.ipch
*.obj
*.tlog
*.pdb
*.log
*.ilk
*.recipe
*.enc
*.idb
Minesweeper/Debug/Minesweeper.vcxproj.FileListAbsolute.txt
